# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore model files
*.h5

# Ignore environment-specific files
*.env
*.venv
*.virtualenv
*.conda

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore output files
output/

# Ignore local databases
*.sqlite3

# Ignore virtual environment directory (if named 'env' or 'venv')
env/
venv/

archive

.DS_Store
.DS_Store
